* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #7ED957;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 100% 0%;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.navbar {
    margin: 5%;
    top: 0;
}

.logo {
    width: 10%;
    height: 10%;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-hero {
    margin: auto;
}

.start-now {
    display: inline-block;
    background-color: #7ED957;
    padding: 10px;
    border-radius: 10px;
    List-style-type: none;
    text-decoration: none;
}

.login {
    display: inline-block;
    background-color: white;
    padding: 10px;
    List-style-type: none;
    text-decoration: none;
}

.start-now li a {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-family: Roboto;
}

.login li a {
    text-decoration: none;
    color: black;
    font-family: Roboto;
}