body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.header-table {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: white;
    margin: 10px;
}

.product-table {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: white;
}

.product {
    background-color: white;
    margin: 10px;
}

.top-product {
    padding-left: 10px;
    padding-top: 10px;
}

.img-product {
    grid-column: 1 / span 2;
    padding: 0;
}

.title-product {
    grid-column: 3 / span 3;
}

.header-table div {
    text-align: center;
    /* border: 1px solid; */
    font-size: 100%;
    margin-top: 20px;
}

.product-table div {
    text-align: center;
    /* border: 1px solid; */
    font-size: 100%;
}

.header1 {
    grid-column: 1 / span 5;
}

.checkout {
    background-color: white;
    /* border: 1px solid; */
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.checkout button {
    background-color: greenyellow;
    border: none;
    padding: 20px;
    float: right;
}

.checkout button:hover {
    background-color: #7ED957;
    cursor: pointer;
}

.checkout button:active {
    background-color: #74c452;
}

.pr1 {
    display: grid;
    grid-template-columns: auto;
    flex-grow: 1;
}

.pr2 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.pr2 div p {
    margin-top: 50%;
}

.pr2 div input {
    margin-top: 25%;
}

.pr1 div h6 {
    margin-top: 25%;
}